input[type=text] {
	width: 130px;
	height: 40px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-image: url('searchicon.png');
	background-position: 10px 10px; 
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
   }
   
  input[type=text]:focus {
	width: 50%;
   }
   .card-img-top{
	   width: 50%;
	   display: inline-flex;
   }
   .card-body{
	height: 20%;   
    margin-right: 2em;
   }
   .rate{
	   color: aliceblue;
	   font-size: 2em;
	   margin-left: 35em;
	   margin-top: 13.2em;
   }
   .descript {
	width: 30em;
   }
  